**/.vscode/
.venv
.databricks
deprecated
mlOps/modelOps/data_science/deprecated
mlOps/devOps/params/deprecated
.dbx/sync
localdev
azureDevOps
.env
.venv_dbx_con13
dev.env
data_science/src_nyc_taxi/build
data_science/src_nyc_taxi/dist
data_science/src_nyc_taxi/nyc_taxi_src.egg-info
.linux_venv
experiments









