**/.vscode/
.venv
.databricks
deprecated
mlOps/modelOps/data_science/deprecated
mlOps/devOps/params/deprecated
.dbx/sync
localdev
azureDevOps
venv_dbx_connect
venv_dbx
.env
.linux_venv
venv_delete
venv_dbx_connect13
venv_delete2
venv_delete3
dev.env
data_science/src_nyc_taxi/build
data_science/src_nyc_taxi/dist
data_science/src_nyc_taxi/nyc_taxi_src.egg-info









