azure-identity
azure-keyvault-secrets
azure-keyvault-keys
datetime
argparse
pathlib
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
azure-core
azure-cosmos==4.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bcrypt==4.0.0
black==22.3.0
bleach==4.0.0
blis==0.7.8
boto3==1.21.18
botocore==1.24.18
cachetools==5.2.0
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
databricks-automl-runtime==0.2.11
databricks-cli==0.17.3
Flask==1.1.2
importlib-metadata==4.8.1
ipykernel==6.12.1
ipython==7.32.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
Jinja2==2.11.3
jupyter-client==6.1.12
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
mlflow-databricks-artifacts==2.0.0
mlflow-skinny==1.29.0
pip==21.2.4
pydantic==1.9.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.2.1
regex==2021.8.3
requests==2.26.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
urllib3==1.26.7
virtualenv==20.8.0
visions==0.7.4
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.2
wheel==0.37.0
widgetsnbextension==3.6.0
wrapt==1.12.1
xgboost==1.6.2
zipp==3.6.0
azureml-mlflow==1.50.0
azureml-core==1.50.0
azure-ai-ml==1.4.0
sklearn_pandas==2.2.0
azureml-sdk==1.50.0
uszipcode
lightgbm
azureml-sdk[databricks]==1.50.0


